div.table-row.header
    div.table-row__title Клуб
    div.table-row__data И
    div.table-row__data В
    div.table-row__data Н
    div.table-row__data П
    div.table-row__data ЗМ
    div.table-row__data ПМ
    div.table-row__data РМ
    div.table-row__data О
div.table-form.container
