div.table-contents
    div.table-contents-block
        div.table-contents-name Таблица турнира
        div.table-contents-status в процессе
    div.table-contents-filter
        div.sort-btn.table-contents-count-score.point.active(data-sort="team_points") по количеству очков
        div.sort-btn.table-contents-count-game(data-sort="played") по количеству игр
