header
  img(src="img/header-football.jpg")
  div.football-current-score
    div.left-opponent
      img.left-opponent-img(src='../../img/Sao-paulo-f-c.svg')
      div.left-opponent-name San Paulo
    div.score
      p.score-left-opponent 2
      p -
      p.score-rigth-opponent 3
    div.rigth-opponent
      img.rigth-opponent-img(src='../../img/Zenit.svg')
      div.rigth-opponent-name Zenit
