@import "../../local_modules/normalize.css/normalize";

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 3.5em;
    margin: 0 auto;
    max-width: 1152px;
    display: grid;
    justify-content: center;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}
